.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
}

p {
  text-align: center;
}

iframe {
  width: calc(
    100% - 40px
  ); /* Maximale Breite minus doppelter Abstand von 20px */
  height: 450px;
  border: 2px solid;
  border-radius: 15px;
  margin: 20px;
}

.backbutton p {
  color: black;
  transition: color 0.1s ease, transform 0.1s ease;
  text-align: center;
}

.backbutton p:hover {
  color: var(--accent-color);
  transform: scale(1.1);
}
